extends layout

block setpagetitle
  title= Dashboard

block content
  //
    Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
  html
    head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      meta(name='description', content='')
      meta(name='keywords', content='')
      //link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
      //if lte IE 8
        script(src='js/html5shiv.js')
      //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='js/skel.min.js')
      script(src='js/skel-panels.min.js')
      script(src='js/init.js')
      link(rel='stylesheet', href='css/dc.css')
      link(rel='stylesheet', href='css/stylenew.css')
      //
        if lte IE 8
          link(rel='stylesheet', href='css/ie/v8.css')
        if lte IE 9
          link(rel='stylesheet', href='css/ie/v9.css')
    body
      section.content.content-2      
        .mbr-section__container.container      
          .row.animated.fadeInUp   
              .col-sm-12
                #dashboard
                  // Header
                  #header
                    .container
                      // Logo
                      #logo
                        h1
                          a(href='#') Analytics Dashboard
                      // Nav
                  // /Header
                  #dashboard_nodata(style='display:none;')
                    #page(style='margin-top:-61px;')
                      #header
                        .container
                          // Logo
                          #logo
                            h1
                              a(href='#') You have no data!
                  #dashboard_page
                    #page(style='margin-top:-61px;')
                      .container
                        .row
                          #menuselect.4u.chart-wrapper(style='background-color: #FFA500; height: 60px; margin-left:30px;')
                            .chart-title
                              strong  Filter By Ad
                          #total-projects.2u.chart-wrapper(style='background-color: #FFA500; height: 60px;')
                            .chart-title
                              strong  Total Record Count
                            span.number-display(style='font-size:30px; color:white; text-align:center')
                          #total-revenue.2u.chart-wrapper(style='background-color: #FFA500; height: 60px;')
                            .chart-title
                              strong  Total Revenue
                            span.number-display(style='font-size:30px; color:white; margin-left:30px')
                          #row-selection.3u.dc-data-count.dc-chart(style='margin-right:50px;')
                            span.filter-count _
                            |  selected out of 
                            span.total-count _
                            | |
                            span
                              a(href='javascript:dc.filterAll();dc.redrawAll();')
                                font(color='blue') Reset All
                        .row
                          #date-chart.7u.chart-wrapper(style='margin-left:30px; margin-right:20px;')
                            .chart-title.bold
                              strong  Number of Views by Day 
                          //
                            #sessionCookie-chart.4u.chart-wrapper
                              .chart-title
                                strong  Visits by user
                          //
                            #funding-chart.3u.chart-wrapper
                              .chart-title
                                strong  
                        //
                          .row
                            #revenue-chart.7u.chart-wrapper(style='margin-left:30px; margin-right:20px;')
                              .chart-title
                                strong  Revenue Chart
                        .row
                          #user-count.7u.chart-wrapper(style='margin-left:30px; margin-right:20px; height:450px;')
                            .chart-title 
                              strong  View Count By User
                          #ad-distribution-chart.4u.chart-wrapper(style='height:450px')
                            .chart-title
                              strong Ad Distribution Chart
      script(src='/js/crossfilter.js', type='text/javascript')
      script(src='/js/d3.js', type='text/javascript')
      script(src='/js/dc.js', type='text/javascript')
      script(src='/js/queue.js', type='text/javascript')
      script(src='/js/Dashboard.js', type='text/javascript')