doctype html
html
  head
    // Mobirise Free Bootstrap Template, https://mobirise.com
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='generator', content='Mobirise v2.6.1, mobirise.com')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/assets/images/discover-mobile-350x350-16.png', type='image/x-icon')
    meta(name='description', content='')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/animate.css/animate.min.css')
    link(rel='stylesheet', href='/assets/socicon/css/socicon.min.css')
    link(rel='stylesheet', href='/assets/mobirise/css/style.css')
    link(rel='stylesheet', href='/assets/mobirise-slider/style.css')
    link(rel='stylesheet', href='/assets/mobirise-gallery/style.css')
    link(rel='stylesheet', href='/assets/mobirise/css/mbr-additional.css', type='text/css')
  body        
    section#menu-74.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--transparent.mbr-navbar--sticky.mbr-navbar--auto-collapse(style='background-color: rgb(68, 68, 68);')
      .mbr-navbar__section.mbr-section
        .mbr-section__container.container
          .mbr-navbar__container
            .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
              span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                span.mbr-brand__logo
                  a(href='/')
                    img.mbr-navbar__brand-img.mbr-brand__img(src='assets/images/discover-mobile-350x350-53.png', alt='ARGEL')
                span.mbr-brand__name
                  a.mbr-brand__name.text-white(href='/') ARGEL
            .mbr-navbar__hamburger.mbr-hamburger.text-white
              span.mbr-hamburger__line
            .mbr-navbar__column.mbr-navbar__menu
              nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/ads') Ad Database
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/users') User Database
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/profile') My Profile
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/register') Register
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-inverse.mbr-buttons--active
                    li.mbr-navbar__item                        
                      if(loggedIn)
                        a.mbr-buttons__btn.btn.btn-default(href='/logout') LOGOUT                    
                      else
                        a.mbr-buttons__btn.btn.btn-default(href='/login') LOGIN
                        
    block content



    footer#footer1-91.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(68, 68, 68);')
      .mbr-section__container.container
        .mbr-footer.mbr-footer--wysiwyg.row
          .col-sm-12
            p.mbr-footer__copyright
            p
              | Copyright (c) 2016 ARGEL Marketing Solutions.               
            p
          
    script(src='/assets/jquery/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    script(src='/assets/smooth-scroll/SmoothScroll.js')
    script(src='/assets/jarallax/jarallax.js')
    script(src='/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js')
    script(src='/assets/masonry/masonry.pkgd.min.js')
    script(src='/assets/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='/assets/social-likes/social-likes.js')
    script(src='/assets/mobirise/js/script.js')
    script(src='/assets/mobirise-gallery/script.js')
