doctype html
html
  head
    // Mobirise Free Bootstrap Template, https://mobirise.com
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='generator', content='Mobirise v2.6.1, mobirise.com')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/assets/images/discover-mobile-350x350-16.png', type='image/x-icon')
    meta(name='description', content='')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/animate.css/animate.min.css')
    link(rel='stylesheet', href='/assets/socicon/css/socicon.min.css')
    link(rel='stylesheet', href='/assets/mobirise/css/style.css')
    link(rel='stylesheet', href='/assets/mobirise-slider/style.css')
    link(rel='stylesheet', href='/assets/mobirise-gallery/style.css')
    link(rel='stylesheet', href='/assets/mobirise/css/mbr-additional.css', type='text/css')
  body
    section#menu-74.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--transparent.mbr-navbar--sticky.mbr-navbar--auto-collapse
      .mbr-navbar__section.mbr-section
        .mbr-section__container.container
          .mbr-navbar__container
            .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
              span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                span.mbr-brand__logo
                  a(href='/')
                    img.mbr-navbar__brand-img.mbr-brand__img(src='assets/images/discover-mobile-350x350-53.png', alt='Mobirise')
                span.mbr-brand__name
                  a.mbr-brand__name.text-white(href='https://mobirise.com/bootstrap-template/') ARGEL
            .mbr-navbar__hamburger.mbr-hamburger.text-white
              span.mbr-hamburger__line
            .mbr-navbar__column.mbr-navbar__menu
              nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/ads') Ad Database
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/users') User Database
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/profile') My Profile
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/register') Register
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-inverse.mbr-buttons--active
                    li.mbr-navbar__item
                      a.mbr-buttons__btn.btn.btn-default(href='/login') LOGIN
    
    section#header1-73.mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--full-height.mbr-section--bg-adapted.mbr-parallax-background.mbr-after-navbar(style='background-image: url(assets/images/macbook-926425-1920-1920x1279-92.jpg);')
      .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-box__magnet--center-left
        .mbr-overlay(style='opacity: 0.6; background-color: rgb(76, 105, 114);')
        .mbr-box__container.mbr-section__container.container
          .mbr-box.mbr-box--stretched
            .mbr-box__magnet.mbr-box__magnet--center-left
              .row
                .col-sm-6
                  .mbr-hero.animated.fadeInUp
                    h1.mbr-hero__text ARGEL Marketing Solutions
                    p.mbr-hero__subtext
                      | Targeted Advertisements for Physical Media.
                      br
                  .mbr-buttons.btn-inverse.mbr-buttons--left
                    a.mbr-buttons__btn.btn.btn-lg.animated.fadeInUp.delay.btn-warning(href='/register') REGISTER
                    a.mbr-buttons__btn.btn.btn-lg.btn-default.animated.fadeInUp.delay(href='/login') LOGIN
        .mbr-arrow.mbr-arrow--floating.text-center
          .mbr-section__container.container
            a.mbr-arrow__link(href='#features1-80')
              i.glyphicon.glyphicon-menu-down
 
    
    section#features1-80.content-2.col-3(style='background-color: rgb(239, 239, 239);')
      .container
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/phone-350x350-12.png')
              .caption
                div
                  h3 MOBILE-FRIENDLY
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/anemone-350x350-67.png')
              .caption
                div
                  h3 EASY-TO-USE
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/clear-350x350-99.png')
              .caption
                div
                  h3 FREE
                  p
                    | Sed vel vulputate lacus. Nulla et fringilla turpis. Etiam non urna magna. Fusce rutrum nec eros id dapibus. In tincidunt mi eget molestie condimentum.              
    
    section#msg-box5-79.mbr-section.mbr-section--relative.mbr-parallax-background(style='background-image: url(assets/images/iphone-6-458150-1920-1920x1285-73.jpg);')
      .mbr-overlay(style='opacity: 0.5; background-color: rgb(0, 168, 133);')
      .mbr-section__container.mbr-section__container--isolated.container
        .row
          .mbr-box.mbr-box--fixed.mbr-box--adapted
            .mbr-box__magnet.mbr-box__magnet--top-right.mbr-section__left.col-sm-6
              figure.mbr-figure.mbr-figure--adapted.mbr-figure--caption-inside-bottom.mbr-figure--full-width
                img.mbr-figure__img(src='assets/images/TargettingAdvertising2.png')
            .mbr-box__magnet.mbr-class-mbr-box__magnet--center-left.col-sm-6.mbr-section__right
              .mbr-section__container.mbr-section__container--middle
                .mbr-header.mbr-header--auto-align.mbr-header--wysiwyg
                  h3.mbr-header__text ARGEL MARKETING SOLUTIONS
              .mbr-section__container.mbr-section__container--middle
                .mbr-article.mbr-article--auto-align.mbr-article--wysiwyg
                  p
                    | ARGEL takes advantage of the current rise in crowd analytics to create a convenient but effective platform for targeting ads towards the audience present in a given public space. ARGEL is a distribution infrastructure for advertisements in physical media using machine learning and data mining techniques. The system displays ads targeted towards the crowd in real time by extracting visual features and applying learning algorithms to the data.
              .mbr-section__container
                .mbr-buttons.mbr-buttons--auto-align.btn-inverse
                  a.mbr-buttons__btn.btn.btn-lg.btn-default(href='/') LEARN MORE
                  
    section#slider2-78.mbr-slider.mbr-section.mbr-section--no-padding.carousel.slide(data-ride='carousel', data-wrap='true', data-interval='5000')
      .mbr-section__container.container.article-slider.mbr-section__container--isolated
        .col-sm-8.col-sm-offset-2
          ol.carousel-indicators
            li.active(data-app-prevent-settings='', data-target='#slider2-78', data-slide-to='0')
            li(data-app-prevent-settings='', data-target='#slider2-78', data-slide-to='1')            
          .carousel-inner(role='listbox')
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.active
              .mbr-box__magnet
                div
                  img(src='assets/images/SystemDiagram.png')
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center
              .mbr-box__magnet
                div
                  img(src='assets/images/TargettingAdvertising2.png')
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero            
          a.left.carousel-control(data-app-prevent-settings='', role='button', data-slide='prev', href='#slider2-78')
            span.glyphicon.glyphicon-menu-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(data-app-prevent-settings='', role='button', data-slide='next', href='#slider2-78')
            span.glyphicon.glyphicon-menu-right(aria-hidden='true')
            span.sr-only Next 
    
    
 
    section#social-buttons1-87.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(247, 218, 100);')
      .mbr-section__container.container
        .mbr-header.mbr-header--inline.row
          .col-sm-4
            h3.mbr-header__text SHARE THIS PAGE!
          .mbr-social-icons.col-sm-8
            .mbr-social-likes.social-likes_style-1(data-counters='true')
              .mbr-social-icons__icon.social-likes__icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                i.socicon.socicon-facebook
              .mbr-social-icons__icon.social-likes__icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                i.socicon.socicon-twitter
              .mbr-social-icons__icon.social-likes__icon.plusone.socicon-bg-google(title='Share link on Google+')
                i.socicon.socicon-google
  
    
    
    footer#footer1-91.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(68, 68, 68);')
      .mbr-section__container.container
        .mbr-footer.mbr-footer--wysiwyg.row
          .col-sm-12
            p.mbr-footer__copyright
            p
              | Copyright (c) 2016 ARGEL Marketing Solutions.               
            p
    script(src='/assets/jquery/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    script(src='/assets/smooth-scroll/SmoothScroll.js')
    script(src='/assets/jarallax/jarallax.js')
    script(src='/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js')
    script(src='/assets/masonry/masonry.pkgd.min.js')
    script(src='/assets/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='/assets/social-likes/social-likes.js')
    script(src='/assets/mobirise/js/script.js')
    script(src='/assets/mobirise-gallery/script.js')
